.content-header {
  text-align: center;
  margin-top: 15px;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 640px;

  }
}
.mB60 {
  margin-bottom: 60px;
}

nav {
  background-color: #0069d9;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}